.dialogs {
    display: grid;
    /*разбиваем на колонки*/

    grid-template-columns: 2fr 4fr 2fr;
    /*делятся на две части */

}

.dialogsItems {
    padding: 10px;
    color: white;
}
.dialogsItems .active{
    color: aqua;
}
.dialogsItems img{
    width: 40px;
    height: 40px;
    border-radius: 30%;
}


.messages {
    padding: 10px;
}
.messages .message{
    color: white;
}
.dialog{

}